
.add-to-wishlist {
  margin-right: 3px;
  color: white;
  background-color: black;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-radius: 3px;
}

.add-to-cart {
  margin-right: 3px;
  color: white;
  background-color: black;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-radius: 3px;
}

.remove-from-wishlist{
  margin-left: 3px;
  color: white;
  background-color: black;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-radius: 3px;
}

img {
  width: 50%;
  margin-top: -44%;
  float: left;
}

.buttons {
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-end;
  //float: right;
}

.product-inf-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 30px;
  background-color: rgb(238, 238, 238);
}

mat-dialog-content {
  background-color: rgb(238, 238, 238);
  padding-top: 50px;
}

mat-dialog-actions{
  width: 100%;
  background-color: rgb(238, 238, 238);
}

mat-icon-button{
  margin-top: 30%;
}

mat-dialog-title{
  margin-top: 10%;
  margin-left: 10%;
  background-color: rgb(238, 238, 238);
}

.product-inf-header{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.buttons{
  //display:flex;
  //flex-direction: row;
  //align-content: flex-end;
}

.description{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
