
<mat-dialog-content>
<div class="product-inf-header"><p class="product-inf-title">{{sneaker.title}}</p>
</div>
<div class="main-part">
  <img src="{{sneaker.image}}">
  <p class="description">{{sneaker.description}}</p>
</div>
  <div class="buttons">
    <button class="add-to-wishlist" *ngIf="!isInWishlist()" (click)="addToWishlist()">add to wishlist</button>
    <button class="add-to-wishlist" *ngIf="isInWishlist()" (click)="removeFromWishlist()">remove from wishlist</button>
    <button class="add-to-cart" *ngIf="!isInBasket()" (click)="addToCart()">add to bag</button>
    <button class="add-to-cart" *ngIf="isInBasket()" (click)="removeFromCart()">remove from bag</button>
  </div>



  <div class="close-button"><button mat-icon-button mat-dialog-close [routerLink]="'/system/products'">
    <mat-icon>close</mat-icon>
  </button></div>


</mat-dialog-content>


  <!--<mat-dialog-actions></mat-dialog-actions>-->

