<div class="login-form">
  <h1 class="title">AUTHORIZATION</h1>

  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <input id="email" matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="authForm.get('email').hasError('email') && !authForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="authForm.get('email').hasError('required')">
        Email is <strong>required</strong><br><br>
        <br>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input id="password" type="password" matInput placeholder="Password" formControlName="password">
      <mat-error
        *ngIf="authForm.get('password').hasError('minlength') && !authForm.get('password').hasError('required' && authForm.get('password')['errors']['minlength']['requiredLength'])">
        The password must have a minimum of <strong>{{ authForm.get('password')['errors']['minlength']['requiredLength']
        }}</strong> characters.
        <br>
        Now - <strong>{{ authForm.get('password')['errors']['minlength']['actualLength'] }} </strong> characters
      </mat-error>
      <mat-error *ngIf="authForm.get('password').hasError('required')">
        Password is <strong>required</strong><br><br>
      </mat-error>
    </mat-form-field>


    <button class="login-btn"[disabled]="authForm.invalid">sign in</button>
    <br>
    <p class="reg-link">Don't have an account? <a routerLink="/registration">registration</a></p>


  </form>
</div>
