.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  margin: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-error{
  font-size: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.login-btn{
  color: white;
  background-color: black;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-radius: 3px;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.reg-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: black;
}


