

.auth-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://pbs.twimg.com/media/CwwYVoIXEAIwMdv.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 900px;
}

.logo-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 1.5px black;
  margin: 10px;
}
