
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  margin: 20px;
}

.reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-error{
  font-size: 10px;
}

.reg-forms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.reg-btn{
  color: white;
  background-color: black;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-radius: 3px;
}


a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.log-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: black;
}

mat-form-field{
  margin: 0;
  padding: 0 10px;
}



input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 10px;
  width:  10px;
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

input[type=checkbox]:checked {
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.terms-checkbox:checked{
  background: linear-gradient(to right, black 5%, rgb(191, 191, 191));
}

label{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 10px;
}

input:active, input:focus {
  outline: none;
}



