<div class="reg-form">
  <h1 class="title">REGISTRATION</h1>

  <form *ngIf="!isRegistrated" [formGroup]="regForm" (ngSubmit)="onSubmit()">


    <div class="reg-forms">
      <mat-form-field class="example-full-width">
        <input id="email" matInput placeholder="Email" formControlName="email" [ngModel]="user.email">
        <mat-error *ngIf="regForm.get('email').hasError('email') && !regForm.hasError('required')">
          Please enter a valid email address<br><br><br>
        </mat-error>
        <mat-error *ngIf="regForm.get('email').hasError('required')">
          Email is <strong>required</strong><br><br><br>
        </mat-error>
        <mat-error *ngIf="regForm.get('email').hasError('forbiddenEmail')">
          Email address <strong>is already</strong><br><br><br>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input id="password" type="password" matInput placeholder="Password" formControlName="password" [ngModel]="user.password">
        <mat-error
          *ngIf="regForm.get('password').hasError('minlength') && !regForm.get('password').hasError('required') && regForm.get('password')['errors']['minlength']['requiredLength']">
          The password must have a minimum of <strong>{{
          regForm.get('password')['errors']['minlength']['requiredLength']
          }}</strong> characters.
          <br>
          Now - <strong>{{ regForm.get('password')['errors']['minlength']['actualLength'] }} </strong>
          characters<br><br><br><br><br><br>
        </mat-error>
        <mat-error *ngIf="regForm.get('password').hasError('required')">
          Password is <strong>required</strong><br><br><br>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input id="name" type="text" matInput placeholder="Name" formControlName="name" [ngModel]="user.name">
        <mat-error *ngIf="regForm.get('name').hasError('required')">
          Name is <strong>required</strong><br><br><br>
        </mat-error>
      </mat-form-field>
      <br>
    </div>
    <br>
    <br>

    <label>
      <input type="checkbox" id="agree" formControlName="agree" class="terms-checkbox">AGREED TO THE TERMS
    </label>
    <br>

    <button class="reg-btn" [disabled]="regForm.invalid">sing up</button>
    <br>
    <p class="log-link">Don't have an account? <a routerLink="/login">authorization</a>
  </form>

  <div *ngIf="isRegistrated">
    <p>user already exists</p>
    <button (click)="isRegistratedChange()">OK</button>
  </div>

</div>
