<!--<mat-horizontal-stepper linear #stepper>-->
<!--<mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">-->
<!--<form [formGroup]="firstFormGroup">-->


<div class="yellow-theme">
  <mat-horizontal-stepper [linear]="!isLinear" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name"
                 formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <table *ngIf="loadedProducts.length>0">
        <tr>
          <th>№</th>
          <th>Name of the product</th>
          <th>-//-</th>
          <th>-//-</th>
          <th>price</th>
        </tr>
        <tr *ngFor="let item of loadedProducts; index as i">
          <td>{{i + 1}}</td>
          <td>{{item.title}}</td>
          <td>g</td>
          <td>69,00</td>
          <td>{{item.price | currency: 'EUR'}}</td>
          <td>
            <button mat-icon-button="" (click)="deleteItem(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="4" style="text-align:right">ИТОГО:</td>
          <td>{{finallyPrice() | currency: 'EUR'}}</td>
        </tr>
      </table>
      <div class="empty-basket">
        <div class="empty-basket-title" *ngIf="loadedProducts.length <= 0">Your basket is empty</div>
      </div>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
