.empty-basket{
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-step{
  color: black;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: red;
}


