<div class="product-page" [ngClass]="{'is-on-wishlist': isOnWishlistPage()}"xmlns="http://www.w3.org/1999/html">
  <div class="scale"><img src="{{product.image}}" class="product-img"></div>
  <a class="product-name product-link">{{product.title}}</a>
  <div class="add-to-elements">
  </div>
  <p class="price" *ngIf="!isOnWishlistPage()">{{product.price | currency: 'EUR' : 'symbol' : '1.0' }}</p>
  <div class="product-page-buttons">
    <button class="add-to-cart" *ngIf="isOnWishlistPage() && !isInBasket()" (click)="addToCart()">add to cart</button>
    <br>
    <button class="remove-from-wishlist" *ngIf="isOnWishlistPage()" (click)="removeFromWishlist()">remove from wishlist
    </button>
  </div>
</div>
