.add-to-cart {
  margin-left: 3px;
  color: white;
  background-color: black;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 15px;
  border-radius: 3px;
}



.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: -5px;
  overflow: hidden;
}

.is-on-wishlist{
  width: 70%;
}

mat-icon {
  font-size: 15px;
}

img {
  width: 100%;
  transition: 1s; /* Время эффекта */
  display: block;
  margin-top: -30%;
}
img:hover {
  transform: scale(1.2);
}

.product-img{
  height: 50%;
}

.product-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 4px;
  text-align: center;
  height: 30px;
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.add-to-elements {
  display: flex;
  flex-direction: row;
  align-items: center;

}



mat-icon {
  font-size: 20px;
}

.product-page-buttons{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
//

.remove-from-wishlist {
  margin-left: 3px;
  color: white;
  background-color: black;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 15px;
  border-radius: 3px;
}
