<div class="product-wishlist">
  <div class="product-wishlist__wrapper">
    <div class="product-wishlist__item" *ngFor="let item of loadedProducts">
      <div class>
      <wfm-product-page (onChanged)="onChanged($event)"
        [product]="item"
      ></wfm-product-page>
      </div>
    </div>
  </div>
</div>
