  .product-wishlist__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    background: #fafafa;
    z-index: 99999;
  }
 .product-wishlist__item {
    padding: 15px;
   display: flex;
   flex-direction: column;
  }









