<!--<mat-tab-group headerPosition="below" >-->
  <!--<mat-tab label="user-data"><wfm-user-data></wfm-user-data></mat-tab>-->
  <!--<mat-tab label="wishlist"><wfm-wishlist></wfm-wishlist></mat-tab>-->
  <!--<mat-tab label="shopping-cart"><wfm-shopping-cart></wfm-shopping-cart></mat-tab>-->
  <!--<mat-tab *ngIf="isFR" label="admin-page"><wfm-shopping-cart></wfm-shopping-cart></mat-tab>-->
<!--</mat-tab-group>-->
<div class="user-account-page">

  <ul class="menu">
  <li routerLinkActive="active">
    <a [routerLink]="['/system/user-account','user-data']">User data</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/system/user-account','wishlist']">Wishlist</a>
  </li>
  <li routerLinkActive="active">
  <a [routerLink]="['/system/user-account','shopping-cart']">Shopping cart</a>
  </li>
  <li *ngIf="isFR" routerLinkActive="active"></li>
</ul>
  <router-outlet></router-outlet>

</div>
