
.user-account-page{
  margin-top: 1%;
  //height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  text-align: center;
  background: black;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 10px;
}

li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

li :hover{
  cursor: pointer;
  //background-color: white;
}

li a:hover{
  text-decoration: underline;
  text-underline: #f7f0f0;
}

.active a{
  text-decoration: underline;
  text-underline: #f7f0f0;
}
