<div class="header">
  <h3 class="header-added-inf">{{addedInformation}}</h3>
  <div class="header-main-inf">
    <h1 class="logo-title" [routerLink]="['/system', 'products']" (click)="toMainPage()">SneakeRoom</h1>
    <ul class="menu-main">
      <li><a [routerLink]="['/system', 'products']" (click)="openSignature()">signature footwear</a></li>
      <li><a [routerLink]="['/system', 'products']" (click)="openInnovation()">innovation footwear</a></li>
    </ul>
    <div class="search-block">
      <!--<mat-search-bar dividerColor="primary" [(ngModel)]="">search</mat-search-bar>-->
      <app-search ></app-search>
      <button mat-icon-button  [routerLink]="['/system/user-account','shopping-cart']">
        <mat-icon >shop</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/system/user-account','wishlist']">
        <mat-icon>favorite</mat-icon>
      </button>

      <!--<p>Hi, {{user.category}}</p>-->
      <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/system/user-account','user-data']"><mat-icon>account_box</mat-icon>Account</button>
        <button mat-menu-item (click)="onLogOut()">
          <mat-icon>exit_to_app</mat-icon>
          Log out
        </button>
      </mat-menu>
    </div>
  </div>
</div>



