.logo-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 1.5px black;
  margin: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

.header-added-inf{
  background: rgb(230,230,230);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #343434;
  padding: 0.5%;
  text-align: center;
}

.header { /* Верхний блок */
  background-color: white;
  height: 30%;
}

.header-main-inf{
  display: flex;
  flex-direction: row;
}

.menu-main {
  list-style: none;
  //margin: 40px 0 5px;
  //padding: 25px 0 5px;
  text-align: center;
  //background: white;
  margin-top: 1.5%;

}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:hover{
  cursor: pointer;
  text-decoration: underline;
}
.menu-main a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  color: black;
}
.menu-main a:hover{
  text-decoration: underline;
}

.search-block{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}


