<label>
  <input type="text" value='{{user.name}}'>
</label>

<label>
  <input type="text" value='{{user.email}}'>
</label>

<label>
  <input type="text" value='{{user.password}}'>
</label>

<button (click)="changeUserInformation()">change information</button>
