<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <div class="sidenav-filter">
      <h1 class="filters-title">FILTERS</h1>
      <form [formGroup]="filterForm" (ngSubmit)="submit()">
        <!--      <div>-->
        <!--        <br><br><br><br><br><br>-->

        <!--      </div>-->
        <div>
          <h2>Color</h2>
          <label formArrayName="colorPreferences"
                 *ngFor="let color of filterForm.controls['colorPreferences'].controls; let i = index">
            <input type="checkbox" class={{colors[i].color}} [formControlName]="i">
          </label>
        </div>

        <div class="category">
          <h2>Category</h2>
          <label formArrayName="categoryPreferences"
                 *ngFor="let category of filterForm.controls['categoryPreferences'].controls; let i = index">
            <input type="checkbox" class="categoty-checkbox" [formControlName]="i">
            {{categories[i].category}}
          </label>
        </div>
        <div>
          <h2>Price</h2>
          <input type="text" placeholder="from" id="price-from" formControlName="priceFrom">
          <input type="text" placeholder="to" id="price-to" formControlName="priceTo">
        </div>


        <br>
        <button mat-button (click)="sidenav.toggle()">FILTRATE</button>
        <br>
        <br>
      </form>

      <input type="text" placeholder="enter a name product" [(ngModel)]="search">
      <button mat-button class="search-button" (click)="startSearch(search); sidenav.toggle()">SEARCH</button>
      <br>
      <br>
      <br>
      <button mat-button class="reset-filter" (click)="resetFilters(); sidenav.toggle()">RESET FILTER</button>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button class="filter" mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        FILTERS
      </button>
    </p>
    <div class="product-list">
      <div class="product-list__wrapper">
        <div class="product-list__item" *ngFor="let item of products">
          <wfm-product-page
            [product]="item"
            (click)="openDialog(item)"
          ></wfm-product-page>

        </div>
      </div>

    </div>
    <mat-paginator [length]="dataLength" [pageSize]="defaultPageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="changePage($event)"
                   showFirstLastButtons></mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<div *ngIf="products.length == 0">-->
<!--  <h1 class="error-message">Sorry,nothing was found by your request</h1>-->
<!--  <img src="https://interior-stickers.ru/30160/grustnyy-smaylik.jpg">-->
<!--</div>-->

<!--*ngIf="products.length"-->



