
.product-list__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  background: #fafafa;
}

.product-list__item {
  padding: 15px;
}

mat-search-bar {
  float: right;
}

wfm-product-page {
  border: none;
  outline: none;
}

wfm-product-page:hover {
  cursor: pointer;
}


mat-sidenav {
  width: 25%;
  position: fixed;
}

.filter {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

mat-icon {
  margin-top: -4px;
}

.sidenav-search {
  float: right;
}


.beige {
  background-color: beige;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.grey {
  background-color: grey;
}

.parameters {
  padding-top: 30px;
}

.filters-title {
  margin-top: 40%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}



input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 30px;
  width: 30px;
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

input[type=checkbox]:checked {
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.categoty-checkbox:checked{
  background: linear-gradient(to right, black 20%, white 60%);
}

.black:checked {
  background: linear-gradient(to right, rgb(230,230,230) 20%, black 60%);
}

.beige:checked {
  background: linear-gradient(to right, black 20%, beige 60%);
}

.white:checked {
  background: linear-gradient(to right, black 20%, white 60%);
}

.grey:checked {
  background: linear-gradient(to right, black 20%, grey 60%);
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.category{
  display: flex;
  flex-direction: column;
}

.category label{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.category label input{
  height: 15px;
  width: 15px;
}

input:active, input:focus {
  outline: none;
}

button:active, button:focus {
  outline: none;
}

.error-message{
  position: center;
}

.sidenav-filter{
  margin-left: 5%;
}







