@import '~@angular/material/theming';
@include mat-core();

.yellow-theme {
  $yellow-theme-primary: mat-palette($mat-yellow, 400);
  $yellow-theme-accent:  mat-palette($mat-yellow, 400);

  $yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent);

  @include angular-material-theme($yellow-theme);
}
