.system-window{
  font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
  margin: -0.8%; /* Отступы на странице */
}

#content { /* Правая колонка */
  //margin: 10px 5px 20px 25%; /* Значения отступов */
  margin-top: 7%;
  padding: 5px; /* Поля вокруг текста */
  //border: 1px solid #333; /* Параметры рамки */
}
#footer { /* Нижний блок */
  background: #333; /* Цвет фона */
  padding: 5px; /* Поля вокруг текста */
  color: #fff; /* Цвет текста */
  clear: left; /* Отменяем действие float */
  position: fixed;
  left: 0; bottom: 0; /* Левый нижний угол */
  width: 100%; /* Ширина слоя */
  z-index: 999999;
  text-align: center;
}
wfm-header{
  background: #333; /* Цвет фона */
  clear: left; /* Отменяем действие float */
  position: fixed;
  left: 0; top: 0; /* Левый нижний угол */
  width: 100%;
  z-index: 999999;
}

//.logo-title{
//  font-family: 'Montserrat', sans-serif;
//  font-weight: 600;
//  color: white;
//  -webkit-text-stroke: 1.5px black;
//  margin: 20px;
//  cursor: pointer;
//
//}
//
//
//h2 {
//  margin-top: 0; /* Убираем отступ сверху */
//}
//
//.header-added-inf{
//  background: rgb(230,230,230);
//  margin: 0;
//  font-family: 'Montserrat', sans-serif;
//  font-size: 13px;
//  color: #343434;
//  padding: 0.5%;
//  text-align: center;
//}
//
//.header { /* Верхний блок */
//  //background: #0080c0; /* Цвет фона */
//  //padding: 10px; /* Поля вокруг текста */
//  width: 100%;
//
//}
//
//.header-main-inf{
//  display: flex;
//  flex-direction: row;
//}
////#sidebar { /* Левая колонка */
////  float: left; /* Обтекание справа */
////  border: 1px solid #333; /* Параметры рамки вокруг */
////  width: 20%; /* Ширина колонки */
////  padding: 5px; /* Поля вокруг текста */
////  margin: 10px 10px 20px 5px; /* Значения отступов */
////}
#content { /* Правая колонка */
  //margin: 10px 5px 20px 25%; /* Значения отступов */
  padding: 5px; /* Поля вокруг текста */
  //border: 1px solid #333; /* Параметры рамки */
}
#footer { /* Нижний блок */
  background: #333; /* Цвет фона */
  padding: 5px; /* Поля вокруг текста */
  color: #fff; /* Цвет текста */
  clear: left; /* Отменяем действие float */
}








